
body {
    background-image: url("./images/weather1.avif");
    background-size: 100%;
}

header {
    text-align: center;
    width: 100%;
} 

main {
    background: #9fbddd;
    padding-left: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    height: 500px;
    border-radius: 4px;
}

.main-card{
    font-size: 20px;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: left;
    border: solid;
    border-radius: 5px;
    display: flex;
}


.days {
    text-align: center;
    display: flex;
    column-gap: 30px;

}

.conditions {
    text-align: left;
}






/* Media queries */

@media screen and (max-width: 1200px) {
    .head {
        font-size: 35px;
    }
    main {
         flex: auto;    
    }


    .days{
        column-gap: 10px;
    }
}

@media screen and (max-width: 900px) {
    .head {
        font-size: 25px;
    }

    main{
        flex: auto;
    }

    .days{
        column-gap: 10px;
    }

}

@media screen and (max-width: 600px) {
    .head {
        font-size: 25px;
    }

    main{
        flex: auto;
    }

    .days{
        column-gap: 10px;
    }

}